
@keyframes flip {
    0% {transform:rotateY(0deg);}
    50% {transform:rotateY(360deg); content: "Tails"}
    100% {transform:rotateY(0deg); content: "Tails"}

}

body {
  text-align:center;
}
div {
  word-break:break-all;
}
div.container {
  border-radius:10px;
  background-color:rgba(0, 126, 108, 0.9);
  display:inline-block;
  padding:10px;
  margin-top:5px;
}
#howmany {
  padding:5px;
}
#thecoin {
  height:300px;
  width:300px;
  border:10px;
  border-style:double;
  border-radius:160px;
  padding:0px;
  margin:10px;
  cursor:pointer;
}
.theflip {
  animation:flip;
  animation-duration:2s;
  animation-iteration-count:1;
  animation-timing-function:ease;
}
